<a href="https://colab.research.google.com/github/MonseMoreno/ArteDeLaAnalitica/blob/main/ArteDeLaAnal%C3%ADtica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Vamos a importar el archivo y leer los contenidos.
import json

# Lectura del archivo
with open('credenciales.json', 'r') as myfile:
    data = myfile.read()

# Leer el formato del archivo
obj = json.loads(data)

# Vamos a guardar los datos en estas variables
GIT_USERNAME = obj['user']

# token
GIT_TOKEN = obj['token']

# Repo
GIT_REPO = obj['repo']

# Creamos la ruta al repositorio de nuestra cuenta
GIT_PATH = "https://" + GIT_USERNAME + ":" + GIT_TOKEN + "@github.com/" +\
            GIT_USERNAME + "/" + GIT_REPO + ".git"

In [ ]:
# Vamos a imprimir el GIT_PATH para ver la estructura
GIT_PATH

'https://MonseMoreno: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@github.com/MonseMoreno/ArteDeLaAnalitica.git'

In [ ]:
!git clone https://github.com/MonseMoreno/ArteDeLaAnalitica.git

Cloning into 'ArteDeLaAnalitica'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [ ]:
%ls

ArteDeLaAnalitica/  credenciales.json  sample_data/

In [ ]:
%cd ArteDeLaAnalitica/

/content/ArteDeLaAnalitica

In [ ]:
%ls

README.md

In [ ]:
!git remote -v

origin	https://github.com/MonseMoreno/ArteDeLaAnalitica.git (fetch)
origin	https://github.com/MonseMoreno/ArteDeLaAnalitica.git (push)

In [ ]:
!git remote rename origin curso_fuente

In [ ]:
!git remote add origin "{GIT_PATH}"

In [ ]:
!git remote -v

curso_fuente	https://github.com/MonseMoreno/ArteDeLaAnalitica.git (fetch)
curso_fuente	https://github.com/MonseMoreno/ArteDeLaAnalitica.git (push)
origin	https://MonseMoreno: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@github.com/MonseMoreno/ArteDeLaAnalitica.git (fetch)
origin	https://MonseMoreno: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@github.com/MonseMoreno/ArteDeLaAnalitica.git (push)

In [ ]:
!git config --global user.email "a01276775@tec.mx"

In [ ]:
!git config --global user.name "Monse Moreno"

In [ ]:
!echo "Cambios en README - main" >> README.m

In [ ]:
!git add .

In [ ]:
!git commit -m "Cambios README"

[main f04a1e5] Cambios README
 1 file changed, 1 insertion(+)
 create mode 100644 README.m

In [ ]:
!git push origin main

Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 297 bytes | 297.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
To https://github.com/MonseMoreno/ArteDeLaAnalitica.git
   687df09..f04a1e5  main -> main

In [ ]:
!git checkout -b "Dev"

Switched to a new branch 'Dev'

In [ ]:
!echo "Cambios en README - main" >> README.m

In [ ]:
!git commit -am "Cambios readme en nueva rama DEV"

[Dev 2d81bf2] Cambios readme en nueva rama DEV
 1 file changed, 1 insertion(+)

In [ ]:
!git push --set-upstream origin Dev

Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 309 bytes | 309.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
remote:
remote: Create a pull request for 'Dev' on GitHub by visiting:
remote:      https://github.com/MonseMoreno/ArteDeLaAnalitica/pull/new/Dev
remote:
To https://github.com/MonseMoreno/ArteDeLaAnalitica.git
 * [new branch]      Dev -> Dev
Branch 'Dev' set up to track remote branch 'Dev' from 'origin'.

#**Actividad librería Pandas**

nombre: Monserrat Karime Moreno Casas

matricula: A01276775

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('netflix_titles.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [ ]:
#Implementa una función que despliegue el primer renglon de un DataFrame.

def the_first():
  return df.head(1)

the_first()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...

In [ ]:
#Implementa una función que regrese el número de registros en el DataFrame.
def row_number():
  return df.shape

row_number()

(7787, 12)

In [ ]:
#Implementa una función que despliega las películas con un release_year determinado.
def released_year(year):

  df_mask=df['release_year'] == year
  return df[df_mask]

year_query = 2020
released_year(year_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,This docuseries takes a deep dive into the luc...
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
29,s30,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,1 Season,TV Comedies,Kenya Barris and his family navigate relations...
...,...,...,...,...,...,...,...,...,...,...,...,...
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7738,s7739,TV Show,Young Wallander,NaN,"Adam Pålsson, Richard Dillane, Leanne Best, El...",United Kingdom,"September 3, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","An incendiary hate crime stirs civil unrest, f..."
7741,s7742,Movie,Your Name Engraved Herein,Liu Kuang-hui,"Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...",Taiwan,"December 23, 2020",2020,TV-MA,115 min,"Dramas, International Movies, LGBTQ Movies","In 1987, as martial law ends in Taiwan, Jia-ha..."
7744,s7745,Movie,"Yours Sincerely, Kanan Gill",Neville Shah,Kanan Gill,India,"April 24, 2020",2020,TV-MA,72 min,Stand-Up Comedy,Revisiting life goals set in a letter written ...

In [ ]:
#Implementa una función que despliegue las películas que son de un país determinado.
def origin_country(country):

   df_mask=df['country'] == country
   return df[df_mask]


country_query = 'Mexico'
origin_country(country_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...
...,...,...,...,...,...,...,...,...,...,...,...,...
7698,s7699,TV Show,Yankee,NaN,"Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...",Mexico,"June 14, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","On the run from the police, an Arizona man cro..."
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2016,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...

In [ ]:
#Crea un nuevo DataFrame que sólo contenga las columnas type, title, country y release_year.

df2 = pd.DataFrame({
                  'tipo' : df['type'],
                  'title' : df['title'],
                  'country' : df['country'],
                  'release_year': df['release_year'] 
})

df2

,tipo,title,country,release_year
0,TV Show,3%,Brazil,2020
1,Movie,7:19,Mexico,2016
2,Movie,23:59,Singapore,2011
3,Movie,9,United States,2009
4,Movie,21,United States,2008
...,...,...,...,...
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar...",2005
7783,Movie,Zubaan,India,2015
7784,Movie,Zulu Man in Japan,NaN,2019
7785,TV Show,Zumbo's Just Desserts,Australia,2019
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States",2019

In [ ]:
#Despliega, cuantos tipos de producciones (type) se hicieron por país determinado (country). 
def producciones(country):

   df_mask=df['country'] == country
   resultado = df[df['country'] == country]['type'].count
   return resultado



country_query = 'Mexico'
producciones(country_query)

<bound method Series.count of 1         Movie
12      TV Show
292       Movie
370       Movie
378       Movie
         ...
7698    TV Show
7725    TV Show
7734      Movie
7773      Movie
7779    TV Show
Name: type, Length: 100, dtype: object>

#**9. Implementa la función que genera el cuadrado de un número.**

In [ ]:
def square(x):
  square = pow(x, 2)
  return square


n = 6
square(6)

36

In [ ]:
df2 = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df2

   A   B
0  1  10
1  2  20
2  3  30
3  5  40
4  6  50

In [ ]:
df2.apply(lambda x: x**2)

    A     B
0   1   100
1   4   400
2   9   900
3  25  1600
4  36  2500